@model OpenTfsPortal.Models.LancamentoHoraViewModel

@{
    ViewBag.Title = "Lancarmento de Horas";
}

<h3>
   <span class="glyphicon glyphicon-time"></span>
   LANÇAMENTO DE HORAS
</h3>

@using (Html.BeginForm("LancarHora","Produtividade", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.TaskId)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.Data)
        
        @Html.DisplayFor(model => model.Title)

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.DataLancamento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataLancamento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataLancamento, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
            @Html.LabelFor(model => model.HoraTrabalhada, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoraTrabalhada, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HoraTrabalhada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Historico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Historico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Historico, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lancar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
   <a style="text-decoration: none" href="@Url.Action("ListarHoras", new { taskId = @Model.TaskId, title = @Model.Title })">
      <span class="glyphicon glyphicon-backward"></span>
      Voltar
   </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
